<div class="layout layout--column layout--top">
  <div class="column w--full">
    {% render 'dispatch_table', features: features, trmnl: trmnl, is_condensed: false  %}
  </div>
</div>

<div class="title_bar">
  <img
    class="image image-stroke"
    src="https://raw.githubusercontent.com/stephenyeargin/trmnl-mnpd-dispatches/refs/heads/main/assets/mnpd.png"
    width="28"
    height="28">
  <span class="title">Metro Nashville Police Dept. Active Dispatches</span>
  <span class="instance">Updated {{ 'now' | date: '%s' | plus: trmnl.user.utc_offset | date: '%-I:%M %P %B %-d, %Y' }}</span>
</div>
