<div class="layout layout--column layout--top">
  <div class="column w--full">
    {% render 'dispatch_table', features: features, trmnl: trmnl, is_condensed: true  %}
  </div>
</div>

<div class="title_bar">
  <img
    class="image image-stroke"
    src="https://raw.githubusercontent.com/stephenyeargin/trmnl-mnpd-dispatches/refs/heads/main/assets/mnpd.png"
    width="28"
    height="28">
  <span class="title">MNPD Active Dispatches</span>
</div>
